<div class="content">
  <div class="card-group">
    <div class="card bg-warning mb-3" style="width: 18rem;">
      <div class="text-center">
        <img class="card-img-top" src="./../../../assets/index-content/stats.png" style="width: 120px;height: 120px;"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card bg-info mb-3" style="width: 18rem; margin-left: 5px; margin-right: 5px;">
      <div class="text-center">
        <img class="card-img-top" src="./../../../assets/index-content/stats.png" style="width: 120px;height: 120px;"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card bg-danger mb-3" style="width: 18rem;">
      <div class="text-center">
        <img class="card-img-top" src="./../../../assets/index-content/stats.png" style="width: 120px;height: 120px;"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>
